<div class="uk-container uk-container-center">
  <a class="uk-navbar-brand uk-hidden-small" href="/#/"><img class="uk-margin uk-margin-remove" src="img/logo.png" width="60" height="60"></a>


  <div class="uk-navbar-content uk-hidden-small">
    <form class="uk-form uk-margin-remove uk-display-inline-block">
      <input type="text" placeholder="This doesn't work">
      <button class="uk-button uk-button-primary">Search</button>
    </form>
  </div>

  <div class="uk-navbar-content uk-navbar-flip  uk-hidden-small">
    <div class="uk-button-group">
      <a class="uk-button" data-ng-if="currentUser" href="#" data-ng-click="logOut()">Log Out of {{ currentUser.username }}</a>
    </div>
  </div>

  <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
  <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><img src="images/logo_uikit.svg" width="90" height="30" title="UIkit" alt="UIkit"></div>
</div>
