html {
  background-color: #1f1915;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #fff;
}

#sign-in-success, #sign-up-error {
  color: #ff5050;
}

#sign-up-success, #sign-up-success {
  color: #66ff99;
}

.img-border {
  border-radius: 10px;
}

.fa-inverse {
  color: #525252;
}

.line-space {
  margin-top: 50px;
}

/* Header */
.header-shadow {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}


/* Footer */
.uk-icon-github {
  color: rgba(255,255,255,0.7);
}

.uk-icon-github:active,
.uk-icon-github:focus,
.uk-icon-github:hover {
  color: #4078c0;
}
