.link-pop:hover, .link-pop:focus, .link-pop:active {
  text-decoration: none;
  color: #ff1a1a;
}

.img-border {
  border-radius: 10px;
}

.fa-inverse {
  color: #525252;
}

.fitness-list-name {
  margin-bottom: 0;
}

.uk-heading-large {
  font-family: 'Montserrat', sans-serif;
}

.hover-color:active,
.hover-color:focus,
.hover-color:hover {
  background-color: rgba(136, 136, 136, .2);
}

#tm-main {
  margin-top: 70%;
}
