.link-pop:hover, .link-pop:focus, .link-pop:active {
  text-decoration: none;
  color: #ff1a1a;
}

.img-border {
  border-radius: 10px;
}

.fa-inverse {
  color: #525252;
}

.uk-heading-large {
  font-family: 'Montserrat', sans-serif;
}
