<div id="tm-main" class="tm-main uk-block uk-block-secondary">
  <div class="uk-container uk-container-center">
    <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
      <main id="about" class="uk-width-1-1">
        <div class="pk-system-messages"></div>
        <article class="uk-article uk-text-center ">
          <div class="uk-width-medium-3-4 uk-container-center">
            <h2 class="uk-h1 uk-margin-large-bottom">Meethead Meet-up.  The simplest solution to finding your workout buddy.</h2>
            <p class="uk-width-medium-4-6 uk-container-center">Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <p class="uk-margin-large"><i>If you'd like to contribute to this project, please take a look at the repo on <a href="https://github.com/dzwell/meathead_meetup" target="_blank">Github</a>.</i></p>
          </div>
          <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-match line-space" style="margin-top: 100px;" data-uk-grid-margin>
            <div>
              <div class="uk-panel">
                <h3 class="uk-h2">GET ABSOLUTELY JACKED</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
              </div>
            </div>
            <div>
              <div class="uk-panel">
                <div class="uk-margin-large"><img class="img-border" src="./img/1.jpg" alt="home-01"></div>
              </div>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>

<div id="tm-main" class="tm-main uk-block" style="background-color: #fff;">
  <div class="uk-container uk-container-center">
    <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
      <main id="about" class="uk-width-1-1">
        <div class="pk-system-messages"></div>
        <article class="uk-article uk-text-center ">
          <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-match line-space" data-uk-grid-margin>
            <div>
              <div class="uk-panel">
                <div class="uk-margin-large"><img class="img-border" src="./img/2.jpg" alt="home-01"></div>
              </div>
            </div>
            <div>
              <div class="uk-panel">
                <h3 class="uk-h2">LEARN TO STRETCH</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
              </div>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>

<div id="tm-main" class="tm-main uk-block uk-block-secondary">
  <div class="uk-container uk-container-center">
    <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
      <main id="about" class="uk-width-1-1">
        <div class="pk-system-messages"></div>
        <article class="uk-article uk-text-center ">
          <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-match line-space" data-uk-grid-margin>
            <div>
              <div class="uk-panel">
                <h3 class="uk-h2">GET RED SHOES</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
              </div>
            </div>
            <div>
              <div class="uk-panel">
                <div class="uk-margin-large"><img class="img-border" src="./img/3.jpg" alt="home-01"></div>
              </div>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>
