<nav class="uk-navbar">
  <a class="uk-navbar-brand" href="/">
    <span>Meethead</span>
  </a>
  <div class="uk-position-top uk-flex uk-flex-center uk-hidden-small">
    <ul class="uk-navbar-nav">
      <div class="uk-navbar-content uk-hidden-small" style="padding-right: 0;">
        <form class="uk-form uk-margin-remove uk-display-inline-block">
          <input type="text" placeholder="This doesn't work">
          <button class="uk-button" style="border: 0;">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </ul>
    <div class="uk-navbar-content uk-flex uk-flex-middle tm-visible-xlarge">
      <ul class="tm-iconnav">
        <li>
          <a href="">
            <i class="fa-icon fa fa-github"></i>
          </a>
        </li>
        <li><a class="tm-icon-twitter" href=""></a></li>
        <li><a class="tm-icon-gitter" href=""></a></li>
        <li><a class="tm-icon-google" href=""></a></li>
        <li><a class="tm-icon-youtube" href=""></a></li>
      </ul>
    </div>
  </div>
  <div class="uk-navbar-flip uk-hidden-small">
    <div class="uk-navbar-content">
      <a class="uk-button tm-button uk-button-primary" href="/user/login">Sign in</a>
    </div>
  </div>
  <div class="uk-navbar-flip uk-visible-small">
    <a href="#offcanvas" class="uk-navbar-toggle" data-uk-offcanvas=""></a>
  </div>
</nav>
