<!-- Header -->
<div id="tm-hero" class="tm-hero uk-block uk-block-large uk-cover-background uk-flex uk-flex-middle uk-height-viewport overlay" style="background-image: url('./img/bg.jpg');">
  <div class="uk-container uk-container-center">
    <section class="uk-grid uk-grid-match" data-uk-grid-margin>
      <div class="uk-width-medium-1-1">
        <div class="uk-panel  uk-text-center">
          <h1 class="uk-heading-large uk-margin-large-bottom" style="color: #7d7d82;"><strong>Meathead Meet-Up</strong></h1>
          <h2 style="color: #f9f9f9;"><strong>The easiest way to find a workout partner.</strong></h2>
          <li class="uk-button" style="background-color: #3a94e0;">
            <a href="/#/login" style="color: #fff;">Login / Sign Up</a>
          </li>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- About -->
<div id="tm-main" class="tm-main uk-block uk-block-default uk-block-muted">
  <div class="uk-container uk-container-center">
    <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
      <main id="about" class="uk-width-1-1">
        <article class="uk-article uk-text-center">
          <div class="uk-width-medium-3-4 uk-container-center">
            <h3 class="uk-text-center uk-h2">Meathead Meet-Up</h3>
            <p class="uk-width-medium-4-6 uk-container-center">That's a son of a gun of a cloud. We'll paint one happy little tree right here. Isn't that fantastic that you can create an almighty tree that fast? They say everything looks better with odd numbers of things. But sometimes I put even numbers—just to upset the critics. You don't have to spend all your time thinking about what you're doing, you just let it happen. I really recommend you use odorless thinner or your spouse is gonna run you right out into the yard and you'll be working by yourself.</p>
            <p class="uk-margin-large"><i>If you'd like to contribute to this project, please take a look at the repo on <a href="https://github.com/dzwell/meathead_meetup" target="_blank">Github</a>.</i></p>
          </div>
          <div class="uk-grid uk-grid-width-medium-1-3 uk-grid-match" data-uk-grid-margin>
            <div>
              <div class="uk-panel">
                <div class="uk-margin-large"><img class="img-border" src="./img/1.jpg" alt="home-01"></div>
                <h3 class="uk-h2">Get motivated</h3>
                <p>If you didn't have baby clouds, you wouldn't have big clouds. All kinds of happy little splashes. We tell people sometimes: we're like drug dealers, come into town and get everybody absolutely addicted to painting. It doesn't take much to get you addicted. Don't hurry. Take your time and enjoy. This is unplanned it really just happens.</p>
              </div>
            </div>
            <div>
              <div class="uk-panel">
                <div class="uk-margin-large"><img class="img-border" src="./img/2.jpg" alt="home-02"></div>
                <h3 class="uk-h2">Accountability</h3>
                <p>In nature, dead trees are just as normal as live trees. This painting comes right out of your heart. Every highlight needs it's own personal shadow. You can't make a mistake. Anything that happens you can learn to use - and make something beautiful out of it.</p>
              </div>
            </div>
            <div>
              <div class="uk-panel">
                <div class="uk-margin-large"><img class="img-border" src="./img/3.jpg" alt="home-02"></div>
                <h3 class="uk-h2">Stay consistent</h3>
                <p>Let's go up in here, and start having some fun This present moment is perfect simply due to the fact you're experiencing it. Now it's beginning to make a little sense. The shadows are just like the highlights, but we're going in the opposite direction. We'll do another happy little painting. Be careful. You can always add more - but you can't take it away</p>
              </div>
            </div>
          </div>
        </article>

        <div class="uk-text-center" style="padding-top: 40px;">
          <li class="uk-button" style="background-color: #3a94e0;">
            <a href="/#/login" style="color: #fff;">Login / Sign Up</a>
          </li>
        </div>


      </main>
    </div>
  </div>
</div>

<!-- Footer -->
<div id="tm-footer" class="tm-footer uk-block uk-block-secondary uk-contrast" data-footer-directive></div>
