<div class="uk-container uk-container-center">
  <section class="uk-grid uk-grid-match" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
      <div class="uk-panel  uk-text-center uk-contrast">
        <h1 class="uk-heading-large uk-margin-large-bottom"><i class="fa fa-slideshare"></i>Meethead Meet-Up</h1>
        <h2>The easiest way to find a workout partner.</h2>

        <!-- Sign-in form -->
        <div id="sign-in" class="uk-width-large-1-1 uk-container-center" data-ng-controller="SigninController" data-ng-submit="authenticate(user)">
          <div class="uk-width-large-1-2 uk-container-center">
            <form class="uk-form uk-form-stacked">
              <div class="uk-form-row">
                <input class="uk-width-1-1" id="sign-in-form-username" type="text" name="credentials[username]" value="" placeholder="Username" required autofocus data-ng-model="user.username">
              </div>
              <div class="uk-form-row">
                <input class="uk-width-1-1" id="sign-in-form-password" type="password" name="credentials[password]" value="" placeholder="••••••••" required data-ng-model="user.password">
              </div>
              <p class="uk-form-row uk-margin-small-bottom">
                <button class="uk-button uk-button-primary uk-button-medium uk-width-1-2" id="sign-in-form-submit" style="max-width: 49.2%;" type="submit">Sign in</button>
                <a class="uk-button uk-button-primary uk-button-medium uk-width-1-2 page-scroll" style="max-width: 49.2%;" href="#sign-up-form" type="submit">Sign up</a>
              </p>
              <ul class="uk-list uk-flex uk-flex-space-between uk-text-small uk-margin-bottom-remove">
                <li>
                  <label><input type="checkbox" name="remember_me"> Remember Me</label>
                </li>
                <li class="uk-text-right">
                  <a class="uk-link" href="/user/resetpassword">Request Password</a>
                </li>
              </ul>
              <input type="hidden" name="redirect" value="">
              <input type="hidden" name="_csrf" value="a4841e50637661ba71e6b6ed9b223b5a2ed21276">
            </form>
            <div class="uk-container-center">
              <span id="sign-in-success"></span>
              <span id="sign-in-error"></span>
            </div>
          </div>
        </div>
        <a class="uk-button uk-button-large page-scroll" href="#about" style="margin-top: 50px;">Learn more</a>
      </div>
    </div>
  </section>
</div>
