<!-- Header -->
<div class="tm-navbar tm-navbar-overlay" data-uk-sticky="{'media':767,'showup':true,'animation':'uk-animation-slide-top'}" style="margin: 0px;"data-header-directive></div>

<!-- Body -->
<div id="tm-hero" class="tm-hero uk-block uk-block-large uk-cover-background uk-flex uk-flex-middle tm-height-viewport uk-block-muted" style="padding-bottom: 50px;">
  <div class="uk-container uk-container-center">
    <div class="tm-panel">

      <div class="uk-width-medium-1-1">
        <div class="uk-panel  uk-text-center">
          <h2><strong style="font-family: 'Permanent Marker', cursive;">Meathead Meet-Up</strong></h2>
          <h3 class="uk-margin-large-bottom">Find yourself a spotter.</h3>
        </div>
      </div>

      <div class="uk-grid uk-flex-middle uk-grid-divider uk-grid-match" data-uk-grid-margin="" data-login-directive></div>
      <p class="uk-margin-large-top uk-text-center">The easiest way to find a workout partner.</p>
    </div>
  </div>
</div>
