<!-- Landing -->
<div id="tm-hero" class="tm-hero uk-block uk-block-large uk-cover-background uk-flex uk-flex-middle uk-height-viewport" style="background-image: url('./img/bg.jpg');" data-landing-directive></div>

<!-- About -->
<div data-about-directive></div>

<!-- Sign-up -->
<div id="tm-main" class="tm-main uk-block uk-block-secondary" style="padding-top: 0;" data-sign-up-directive></div>

<!-- Footer -->
<div id="tm-footer" class="tm-footer uk-block uk-block-secondary uk-contrast" data-footer-directive></div>
