<div data-ng-init="getUser()">
  <a data-ng-if="currentUser" href data-ng-click="logOut()">Log Out of {{ currentUser.username }}</a>
  <p data-ng-if="currentUser">{{ currentUser.name }}</p>
  <p data-ng-if="currentUser">{{ currentUser.email }}</p>
  <p data-ng-if="currentUser">{{ currentUser.biography }}</p>
  <p data-ng-if="currentUser">{{ currentUser.quote }}</p>
  <p data-ng-if="currentUser">{{ currentUser.location }}</p>
  <p data-ng-if="currentUser">{{ currentUser.gym }}</p>


  <label for="biography">Edit Your Bio</label>
  <input type="text" id="profileForm{{currentUser._id}}" data-ng-model="currentUser.biography">

  <label for="quote">Edit Your Quote</label>
  <input type="text" id="profileForm{{currentUser._id}}" data-ng-model="currentUser.quote">

  <label for="quote">Edit Your Location</label>
  <input type="text" id="profileForm{{currentUser._id}}" data-ng-model="currentUser.location">

  <label for="quote">Edit Your Gym</label>
  <input type="text" id="profileForm{{currentUser._id}}" data-ng-model="currentUser.gym">

  <button data-ng-click="update(currentUser)">Save</button>
</div>

