

<div data-ng-init="getUser()">
  <!-- Header -->
  <div class="tm-navbar tm-navbar-overlay" data-uk-sticky="{'media':767,'showup':true,'animation':'uk-animation-slide-top'}" style="margin: 0px;"data-header-directive></div>

  <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyD1j-GHVkBSNe2evr1j6lhZworXFsUwubA&callback=initMap&libraries=places">
    <ng-map center="39.062, -101.778" zoom="8" scrollwheel="false" style="height: 600px;"></ng-map>
  </div>

  <div id="tm-footer" class="tm-footer uk-block uk-block-secondary uk-contrast" data-footer-directive></div>
</div>
