<div class="uk-container uk-container-center">
  <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
    <main class="uk-width-1-1">
      <article class="uk-article uk-text-center ">
        <div class="uk-width-medium-3-4 uk-container-center" style="margin-top: 50px;">

          <h1 class="uk-text-center">
            <strong>User Profile</strong>
          </h1>
          <h2 class="uk-button" ng-hide="currentUser.editing" data-ng-click="save(currentUser)">Click here to edit your profile</h2>
          <h2 class="uk-button" ng-show="currentUser.editing" data-ng-click="update(currentUser)">Save Changes</h2>
          <h2 class="uk-button" ng-show="currentUser.editing" data-ng-click="reset(currentUser)">Cancel</h2>

          <!-- Profile -->
          <div class="uk-width-1-1 uk-grid-margin uk-row-first" ng-hide="currentUser.editing">
            <div class="uk-panel-body uk-text-left">

              <div class="uk-grid" style="margin-top: 20px;">
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <h3 class="uk-h3 uk-margin-top-remove"><strong>Name</strong></h3>
                </div>
                <div class="uk-width-1-1 uk-width-medium-2-3 ">
                  <p class="uk-column-large-1-2" data-ng-if="currentUser">{{ currentUser.name }}</p>
                </div>
              </div>

              <div class="uk-grid" style="margin-top: 20px;">
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <h3 class="uk-h3 uk-margin-top-remove"><strong>Username</strong></h3>
                </div>
                <div class="uk-width-1-1 uk-width-medium-2-3 ">
                  <p class="uk-column-large-1-2" data-ng-if="currentUser">{{ currentUser.username }}</p>
                </div>
              </div>

              <div class="uk-grid" style="margin-top: 20px;">
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <h3 class="uk-h3 uk-margin-top-remove"><strong>Email Address</strong></h3>
                </div>
                <div class="uk-width-1-1 uk-width-medium-2-3 ">
                  <p class="uk-column-large-1-2">{{ currentUser.email }}</p>
                </div>
              </div>


              <div class="uk-grid" style="margin-top: 20px;">
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <h3 class="uk-h3 uk-margin-top-remove"><strong>Gym</strong></h3>
                </div>
                <div class="uk-width-1-1 uk-width-medium-2-3 ">
                  <p class="uk-column-large-1-2" data-ng-if="currentUser">{{ currentUser.gym }}</p>
                </div>
              </div>

              <div class="uk-grid" style="margin-top: 20px;">
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <h3 class="uk-h3 uk-margin-top-remove"><strong>Quote</strong></h3>
                </div>
                <div class="uk-width-1-1 uk-width-medium-2-3 ">
                  <p class="uk-column-large-1-2" data-ng-if="currentUser">{{ currentUser.quote }}</p>
                </div>
              </div>

              <div class="uk-grid" style="margin-top: 20px;">
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <h3 class="uk-h3 uk-margin-top-remove"><strong>Biography</strong></h3>
                </div>
                <div class="uk-width-1-1 uk-width-medium-2-3 ">
                  <p class="uk-column-large-1-2">{{ currentUser.biography }}</p>
                </div>
              </div>

            </div>
          </div>

          <!-- Editor -->
          <div class="uk-width-1-1 uk-grid-margin uk-row-first" ng-show="currentUser.editing">
            <div class="uk-panel-body uk-text-left">

              <div class="uk-grid" style="margin-top: 20px;">
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <h3 class="uk-h3 uk-margin-top-remove"><strong>Name</strong></h3>
                </div>
                <div class="uk-width-1-1 uk-width-medium-2-3 ">
                  <input type="text" class=".uk-form-width-large" id="profileForm{{currentUser._id}}" data-ng-model="currentUser.name">
                </div>
              </div>

              <div class="uk-grid" style="margin-top: 20px;">
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <h3 class="uk-h3 uk-margin-top-remove"><strong>Username</strong></h3>
                </div>
                <div class="uk-width-1-1 uk-width-medium-2-3 ">
                  <p class="uk-column-large-1-2" data-ng-if="currentUser">{{ currentUser.username }}</p>
                </div>
              </div>

              <div class="uk-grid" style="margin-top: 20px;">
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <h3 class="uk-h3 uk-margin-top-remove"><strong>Email Address</strong></h3>
                </div>
                <div class="uk-width-1-1 uk-width-medium-2-3 ">
                  <input type="text" class=".uk-form-width-large" id="profileForm{{currentUser._id}}" data-ng-model="currentUser.email">
                </div>
              </div>


              <div class="uk-grid" style="margin-top: 20px;">
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <h3 class="uk-h3 uk-margin-top-remove"><strong>Gym</strong></h3>
                </div>
                <div class="uk-width-1-1 uk-width-medium-2-3 ">
                  <input type="text" class=".uk-form-width-large" id="profileForm{{currentUser._id}}" data-ng-model="currentUser.gym">
                </div>
              </div>

              <div class="uk-grid" style="margin-top: 20px;">
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <h3 class="uk-h3 uk-margin-top-remove"><strong>Quote</strong></h3>
                </div>
                <div class="uk-width-1-1 uk-width-medium-2-3 ">
                  <input type="text" class=".uk-form-width-large" id="profileForm{{currentUser._id}}" data-ng-model="currentUser.quote">
                </div>
              </div>

              <div class="uk-grid" style="margin-top: 20px;">
                <div class="uk-width-1-1 uk-width-medium-1-3">
                  <h3 class="uk-h3 uk-margin-top-remove"><strong>Biography</strong></h3>
                </div>
                <div class="uk-width-1-1 uk-width-medium-2-3 ">
                  <textarea type="text" class=".uk-form-width-large" id="profileForm{{currentUser._id}}" data-ng-model="currentUser.biography">
                </div>
              </div>

            </div>
          </div>
        </div>
      </article>
    </main>
  </div>
</div>
